<div id="userpage">
<h3>アイテムを登録する</h3>
  <div class="items register">
      <h3></h3>
        <ul>
        <li class="item selected">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>
        <li class="item">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>

<li class="item">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>
        <li class="item">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>
        <li class="item">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>

<li class="item">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>
        <li class="item">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>
        <li class="item">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>

<li class="item">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>
        <li class="item">
            <dl>
              <dd>こんにゃく</dt>
        <dt><%= image_tag('001.jpg') %></dt>
        <dt>5789個</dt>
        </dl>
        </li>



        </ul>
        <div class="btn_green btn_mid btn_register">登録する</div>
              </div><!-- //.items -->
<% render 'registering' %>
</div>