<!DOCTYPE html>
<html>
<head>
  <title>bite</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="wrap">
      <h1><%= link_to "bite", "#" %></h1>
      <div id="menu">
        <nav>
        <ul>
          <li><%= link_to "ホーム", "#" %></li>
          <li><%= link_to "マイページ", "#" %></li>
          <li><%= link_to "サインイン", "#" %></li>
        </ul>
        <nav>
        <div class="signin_box">
          <label>e-mail<input type="email" name="email" id=""></label>
          <label>password<input type="text"></label>
        </div>
      </div>
  </header>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p><small>Copyright &copy; 2013 bite All Rights Reserved.</small></p>
  </footer>

</body>
</html>
