<!DOCTYPE html>
<html>
<head>
  <title>bite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="wrap">
      <h1><%= link_to "ホーム", "#" %>bite</h1>
      <div id="menu">
        <ul>
          <li><%= link_to "ホーム", "#" %></li>
          <li><%= link_to "マイページ", "#" %></li>
          <li><%= link_to "サインイン", "#" %></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
  </footer>

</body>
</html>
